p {
    color: rgb(33, 2, 34);
    background-color: rgb(216, 146, 204);
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px double;
    border-radius: 10px;
    background-color:rgb(216, 146, 204);
    color: rgb(33, 2, 34);
    font-size: 18pt;
}
table {
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
td {
    color: rgb(33, 2, 34);
}
body {
    background-color: rgb(149, 98, 151);
    border: 4px double;
}
a {
    color: rgb(33,2,34);
    text-decoration: none;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(33, 2, 34);
    background-color: rgb(216, 146, 204);
    border: 4px double;
    border-radius: 10px;
}
